/service/target/maven-archiver
/web/target/maven-archiver
/web/target/
/service/target/
/ear/target/
/ear/.settings
/web/.settings
/service/.settings
/entity/.settings/org.eclipse.core.resources.prefs
/entity/.settings/
/.metadata/.plugins/org.eclipse.jdt.core
/.metadata/.plugins/
/pe4j_main_jpa/.settings
/.metadata
/.settings
/web/.metadata/src/main/webapp/WEB-INF
/entity/.classpath
/entity/.gitignore
/entity/.project
/.project
/ear/.classpath
/ear/.project
/pe4j_main_jpa/.classpath
/service/.classpath
/service/.project
/web/.classpath
/web/.metadata/src/main/java/WEB-INF/faces-config.pageflow
/web/.project
